[submodule "libs/QJoysticks"]
	path = libs/QJoysticks
	url = https://github.com/franciscoquintana/QJoysticks
[submodule "Controller/htest"]
	path = Controller/htest
	url = https://github.com/franciscoquintana/htest
[submodule "Controller/HoverCraft-ControllerQt"]
	path = Controller/HoverCraft-ControllerQt
	url = https://github.com/N0-IDEA/HoverCraft-ControllerQt
